/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/* HEADER */
header {
    height: 550px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
}
/* END HEADER */

/* MAIN */
/* END MAIN */

/* FOOTER */
/* END FOOTER */
