/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.button{
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 20px 20px;
    display: inline-block;
}

/* HEADER */
header {
    height: 550px;
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
    position: relative;
}

/* Nav */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    padding: 20px 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}


.col {
    float: left;
}

.logo {
    width: 10%;
}

.menu-central {
    width: 50%;
    padding-left: 20px;
}

.menu-right {
    width: 40%;
    text-align: right;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    margin-left: 20px;
}

.menu .login {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}

.menu .button {
    padding: 10px 20px;
}
/* End Nav */

/* Intestazione */
.heading {
    position: absolute;
    bottom: 130px;
    left: 450px;
    width: 641px;
}

.heading h1 {
    font-size: 55px;
    color: white;
}

.heading a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 25px 0;
}
/* END HEADER */

/* MAIN */

/* Main top bar */

main .container {
    padding: 25px;
    text-align: center;
}

.bg-main {
    background-color: lightgrey;
}

.container h3 {
    font-size: 25px;
    margin: 20px;
}

.container p {
    color: gray;
    margin-bottom: 20px;
}
/*End Main top bar */

/* Section I */
.col-left {
    width: 33%;
}

.col-center {
    width: 33%;
}

.col-img {
    height: 200px;
}

.img-object-fit {
    object-fit: contain;
    height: 100%;
    margin: 45px 0;
}

.sec-top h2 {
    color: yellowgreen;
    text-align: center;
    padding: 35px 155px;
}

.sec-top p {
    color: grey;
    text-align: center;
    padding: 30px 155px;
}
/* End Section I */

hr {
    color: lightslategray;
}

/* Section II */

.bot-left {
    width: 50%;
    margin-top: 50px;
    position: relative;
}

.col-img-bot {
    height: 550px;
}

.img-bot {
    object-fit: contain;
    height: 100%;
}

.text {
    position: absolute;
    top: 0;
    right: 65%;
    padding: 2% 0;
}

.text h2 {
    margin: 20px 0;
    font-size: 26px;
}

.text p {
    margin: 20px 0;
    color: gray;
}

.text a {
    color: #5586bc;
}
/* End Section II */

/* END MAIN */

/* FOOTER */
/* END FOOTER */
